go-git.cmd
.vscode
m4
aclocal.m4
.deps
/config
/autom4te.cache/
Makefile
Makefile.in
*.log
/aclocal.m4
config.status
/configure
libtool
*.o
*.la
*.lo
*.so
*.gz
*.a
compile
depcomp
install-sh
ltmain.sh
missing
src/asm8080